################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASPCore/v15/Server/sqlite3
/.vs/ASPCore/v15/.suo
/node_modules/@types/react-bootstrap
/node_modules/@types/react
